.Acclaimed {
    display: flex;
    flex-direction: column;

    * {
        transition: all 0.2s ease;
    }

    &:hover {
        cursor: pointer;

        #acclaimed-1 {
            transform: matrix(0.913545, -0.406737, 0.406737, 0.913545, -141.207, 144.413);
        }

        #asd {

            transform: matrix(-0.0465015, 1.05366, -1.04575, -0.0461523, 452.127, 223.499);
        }

        #acclaimed-2 {
            transform: matrix(0.978148, -0.207912, 0.207912, 0.978148, -72.2025, 88.3104);
        }

        #acclaimed-3 {
            transform: matrix(0.9781476259231567, -0.2079116851091385, 0.2079116851091385, 0.9781476259231567, 117.15799713134766, 267.9540100097656);
        }

        #acclaimed-4 {
            transform: matrix(0.7193397879600525, -0.6946583986282349, 0.6946583986282349, 0.7193397879600525, 460.2460021972656, 212.156005859375);
        }

        #acclaimed-5 {
            transform: matrix(0.7071067690849304, -0.7071067690849304, 0.7071067690849304, 0.7071067690849304, 461.02099609375, 91.13800048828125);
        }
    }
}

.active{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
    color: #f5f5f7;
    background-color: #C0EBF0;
    border-radius: 50%;
    .title{
        margin-top: -10%;
        
    }
}