.Bakery {
    display: flex;
    flex-direction: column;

    * {
        transition: all 0.2s ease;
    }

    &:hover, &.active {
        cursor: pointer;

        span {
            color: var(--main-color);
        }

        .g-1 {
            transform: matrix(0.9999980926513672,0,0,0.9999980926513672,262.000244140625,327);
        }

        .g-2 {
            transform: matrix(1,0,0,1,-13,76.875);
        }

        .g-3 {
            transform: matrix(0.6293203830718994,-0.7771459817886353,0.7771459817886353,0.6293203830718994,-88.12728881835938,436.62310791015625);
        }

        .g-4 {
            transform: matrix(0.6293203830718994,-0.7771459817886353,0.7771459817886353,0.6293203830718994,-88.12728881835938,436.62310791015625);
        }

        .g-5 {
            transform: matrix(0.6293203830718994,-0.7771459817886353,0.7771459817886353,0.6293203830718994,-88.12728881835938,436.62310791015625);
        }

        .g-6 {
            transform: matrix(0.6293203830718994,-0.7771459817886353,0.7771459817886353,0.6293203830718994,-88.12728881835938,436.62310791015625);
        }

        .g-7 {
            transform: matrix(0.9271838665008545,-0.37460657954216003,0.37460657954216003,0.9271838665008545,-100.836669921875,60.18693542480469);
        }

        .g-8 {
            transform: matrix(0.9816271662712097,-0.1908089965581894,0.1908089965581894,0.9816271662712097,-72.8897705078125,-0.42595672607421875);
        }

        .g-9 {
            transform: matrix(1,0,0,1,-26.375,-110.68699645996094);
        }

        .g-10 {
            transform: matrix(0.9510565400123596,-0.30901700258255005,0.30901700258255005,0.9510565400123596,-93.51791381835938,37.47614288330078);
        }

        .g-11 {
            transform: matrix(0.882947564125061,-0.4694715738296509,0.4694715738296509,0.882947564125061,-85.60226440429688,132.22531127929688);
        }

        .g-12 {
            transform: matrix(0.9925461411476135,-0.12186934053897858,0.12186934053897858,0.9925461411476135,-73.51596069335938,-49.919212341308594);
        }

        .g-13 {
            transform: matrix(0.9902680516242981,-0.13917310535907745,0.13917310535907745,0.9902680516242981,-75.18063354492188,-41.408485412597656);
        }

        .g-14 {
            transform: matrix(1,0,0,1,-55.68701171875,-110.18699645996094);
        }

        .g-15 {
            transform: matrix(0.9396926164627075,-0.3420201539993286,0.3420201539993286,0.9396926164627075,-128.00918579101562,41.85199737548828);
        }

        .g-16 {
            transform: matrix(-0.9563047885894775,-0.2923716902732849,0.2923716902732849,-0.9563047885894775,715.8577880859375,598.710205078125);
        }

        .g-17 {
            transform: matrix(0.9659258127212524,-0.258819043636322,0.258819043636322,0.9659258127212524,-99.45037841796875,-0.391754150390625);
        }

        .g-18 {
            transform: matrix(-0.9848077297210693,0.17364826798439026,-0.17364826798439026,-0.9848077297210693,860.93603515625,404.4153747558594);
        }

        .g-19 {
            transform: matrix(0.9993908405303955,-0.03489949554204941,0.03489949554204941,0.9993908405303955,-34.827789306640625,-131.6951904296875);
        }

        .g-20 {
            transform: matrix(0.9702957272529602,-0.24192190170288086,0.24192190170288086,0.9702957272529602,-90.48806762695312,16.109115600585938);
        }

        .g-21 {
            transform: matrix(0.9702957272529602,-0.24192190170288086,0.24192190170288086,0.9702957272529602,-90.24371337890625,15.248580932617188);
        }

        .g-22 {
            transform: matrix(0.6018150448799133,-0.7986354827880859,0.7986354827880859,0.6018150448799133,-214.92691040039062,438.08038330078125);
        }

        .g-23 {
            transform: matrix(0.6018150448799133,-0.7986354827880859,0.7986354827880859,0.6018150448799133,-214.92691040039062,438.08038330078125);
        }

        .g-24 {
            transform: matrix(0.6018150448799133,-0.7986354827880859,0.7986354827880859,0.6018150448799133,-214.92691040039062,438.08038330078125);
        }

        .g-25 {
            transform: matrix(0.6018150448799133,-0.7986354827880859,0.7986354827880859,0.6018150448799133,-214.92691040039062,438.08038330078125);
        }
    }
}