.Breakfast {
    display: flex;
    flex-direction: column;

    * {
        transition: all 0.2s ease;
    }

    &:hover {
        cursor: pointer;

        .g-1 {
            transform: matrix(1,0,0,1,222,347);
        }

        .g-2 {
            transform: matrix(0.8399999737739563,0,0,0.8399999737739563,139.2223358154297,470.5704345703125);
        }

        .g-3 {
            transform: matrix(0.8886517882347107,-0.23811352252960205,0.23811352252960205,0.8886517882347107,70.23504638671875,305.5138854980469);
        }

        .g-4 {
            transform: matrix(0.838670551776886,0.5446390509605408,-0.5446390509605408,0.838670551776886,225.32008361816406,165.16061401367188);
        }

        .g-5 {
            transform: matrix(0.882947564125061,-0.4694715738296509,0.4694715738296509,0.882947564125061,292.5419921875,283.7240295410156);
        }

        .g-6 {
            transform: matrix(0.9816271662712097,-0.1908089965581894,0.1908089965581894,0.9816271662712097,393.3294982910156,229.942626953125);
        }

        .g-7 {
            transform: matrix(0.30901700258255005,0.9510565400123596,-0.9510565400123596,0.30901700258255005,633.7684326171875,308.0231628417969);
        }
    }
}