.Burgers {
    display: flex;
    flex-direction: column;
    * {
        transition: all 0.2s ease;
    }

    &:hover, &.active {
        cursor: pointer;

        span {
            color: var(--main-color);
        }

        .g-1 {
            transform: matrix(0.9999973177909851, 0, 0, 0.9999973177909851, 222.00033569335938, 347);
        }

        .g-2 {
            transform: matrix(0.9400098323822021, 0, 0, 0.7300002574920654, 174.40037536621094, 506.9237060546875);
        }

        .g-3 {
            transform: matrix(0.9510564208030701, -0.30901724100112915, 0.30901724100112915, 0.9510564208030701, 151.27084350585938, 410.4980163574219);
        }

        .g-4 {
            transform: matrix(0.9659258723258972, -0.2588188052177429, 0.2588188052177429, 0.9659258723258972, 115.34475708007812, 304.45953369140625);
        }

        .g-5 {
            transform: matrix(0.9612613916397095, -0.27563849091529846, 0.27563849091529846, 0.9612613916397095, 260.7503356933594, 394.0347595214844);
        }

        .g-6 {
            transform: matrix(0.9986297488212585, 0.052331749349832535, -0.052331749349832535, 0.9986297488212585, 150.73165893554688, 323.8851623535156);
        }

        .g-7 {
            transform: matrix(0.9986295700073242, -0.052335575222969055, 0.052335575222969055, 0.9986295700073242, 301.61370849609375, 324.6454162597656);
        }

        .g-8 {
            transform: matrix(0.9781476259231567, 0.20791150629520416, -0.20791150629520416, 0.9781476259231567, 140.19692993164062, 192.41949462890625);
        }

        .g-9 {
            transform: matrix(0.9455186724662781, 0.3255678713321686, -0.3255678713321686, 0.9455186724662781, 201.86309814453125, 83.86610412597656);
        }
    }
}