.Chicken {
    display: flex;
    flex-direction: column;
    * {
        transition: all 0.2s ease;
    }
    &:hover, &.active {
        cursor: pointer;

        span {
            color: var(--main-color);
        }
        .g-1 {
            transform: matrix(0.9999983310699463,0,0,0.9999983310699463,222.00033569335938,346.9999694824219);
        }

        .g-2 {
            transform: matrix(0.8700000643730164,0,0,0.8700000643730164,189.17694091796875,402.3368225097656);
        }

        .g-3 {
            transform: matrix(0.9063078761100769,-0.42261803150177,0.42261803150177,0.9063078761100769,172.0353546142578,307.99835205078125);
        }

        .g-4 {
            transform: matrix(1,0,0,1,233.8170166015625,419.9289855957031);
        }

        .g-5 {
            transform: matrix(0.999851644039154,-0.01722554862499237,0.01722554862499237,0.999851644039154,420.7565002441406,351.7476501464844)
        }

        .g-6 {
            transform: matrix(0.882947564125061,0.4694715738296509,-0.4694715738296509,0.882947564125061,195.13743591308594,294.90777587890625);
        }

        .g-7 {
            transform: matrix(0.5228555202484131,-0.8051269054412842,0.8051269054412842,0.5228555202484131,377.9435119628906,183.48654174804688);
        }
        
        .g-8 {
            transform: matrix(0.862199068069458,0.5815606117248535,-0.5815606117248535,0.862199068069458,291.7770080566406,143.80337524414062);
        }
    }
}