.Coffee {
    display: flex;
    flex-direction: column;

    * {
        transition: all 0.2s ease;
    }

    &:hover {
        cursor: pointer;

        .g-1 {
            transform: matrix(0.9999971985816956, 0, 0, 0.9999971985816956, 188.00054931640625, 379.9999694824219);
        }

        .g-2 {
            transform: matrix(1.2699999809265137, 0, 0, 0.8299999833106995, 165.97421264648438, 560.420166015625);
        }

        .g-3 {
            transform: matrix(0.9135454297065735, 0.4067366421222687, -0.4067366421222687, 0.9135454297065735, 262.8938293457031, 236.47837829589844);
        }

        .g-4 {
            transform: matrix(1, 0, 0, 1, 194.06800842285156, 286.57501220703125);

            path {
                d: path(' M-356.4070129394531,-417.0580139160156 C-356.4070129394531,-417.0580139160156 403.5929870605469,-417.0580139160156 403.5929870605469,-417.0580139160156 C403.5929870605469,-417.0580139160156 403.5929870605469,342.9419860839844 403.5929870605469,342.9419860839844 C403.5929870605469,342.9419860839844 -356.4070129394531,342.9419860839844 -356.4070129394531,342.9419860839844 C-356.4070129394531,342.9419860839844 -356.4070129394531,-417.0580139160156 -356.4070129394531,-417.0580139160156z M-356.4070129394531,342.9419860839844 C-356.4070129394531,342.9419860839844 403.5929870605469,342.9419860839844 403.5929870605469,342.9419860839844 C403.5929870605469,342.9419860839844 403.5929870605469,-417.0580139160156 403.5929870605469,-417.0580139160156 C403.5929870605469,-417.0580139160156 -356.4070129394531,-417.0580139160156 -356.4070129394531,-417.0580139160156 C-356.4070129394531,-417.0580139160156 -356.4070129394531,342.9419860839844 -356.4070129394531,342.9419860839844z M-129.58900451660156,-48.67300033569336 C-133.2270050048828,-66.30500030517578 -139.40699768066406,-116.05899810791016 -90.89900207519531,-112.9729995727539 C-65.40699768066406,-58.058998107910156 -14.229999542236328,-63.62099838256836 8.555999755859375,-67.85299682617188 C85.10199737548828,-82.07099914550781 162.09300231933594,-121.55899810791016 160.71400451660156,23.57900047302246 C160.3300018310547,64.01100158691406 -98.40699768066406,102.44100189208984 -129.58900451660156,-48.67300033569336z')
            }
        }

        .g-5 {
            transform: matrix(0.8191511034965515, 0.5735778212547302, -0.5735778212547302, 0.8191511034965515, 396.4364013671875, 365.6546630859375);
        }

        .g-6 {
            transform: matrix(1, 0, 0, 1, 290.97198486328125, 106.15901184082031);
        }
    }
}