.Desserts {
    display: flex;
    flex-direction: column;

    * {
        transition: all 0.2s ease;
    }

    &:hover {
        cursor: pointer;

        .g-1 {
            transform: matrix(1.000056266784668, 0, 0, 1.000056266784668, 187.98892211914062, 380.000732421875);
        }

        .g-2 {
            transform: matrix(0.929999828338623, 0, 0, 0.929999828338623, 243.48675537109375, 392.66357421875);
        }

        .g-3 {
            transform: matrix(0.9205039143562317, -0.3907333016395569, 0.3907333016395569, 0.9205039143562317, 127.41673278808594, 281.39599609375);
        }

        .g-4 {
            transform: matrix(0.9396917819976807, -0.34202250838279724, 0.34202250838279724, 0.9396917819976807, 150.8898468017578, 334.72161865234375);
        }

        .g-5 {
            transform: matrix(0.5159563422203064, 0.856614887714386, -0.856614887714386, 0.5159563422203064, 405.849365234375, 77.53243255615234);
        }

        .g-6 {
            transform: matrix(1, 0, 0, 1, 378.406005859375, 382.0169982910156);
        }
    }
}