.Drinks {
    display: flex;
    flex-direction: column;

    * {
        transition: all 0.2s ease;
    }

    &:hover {
        cursor: pointer;

        .g-1 {
            transform: matrix(0.9999984502792358, 0, 0, 0.9999984502792358, 185.87930297851562, 359.6349792480469);
        }

        .g-2 {
            transform: matrix(0.800000011920929, 0, 0, 0.800000011920929, 179.91859436035156, 556.5936279296875);
        }

        .g-3 {
            transform: matrix(0.738605797290802, -0.13023611903190613, 0.13023611903190613, 0.738605797290802, 159.93634033203125, 135.4088134765625);
        }

        .g-4 {
            transform: matrix(0.6143640279769897, 0.4301823079586029, -0.4301823079586029, 0.6143640279769897, 465.8272705078125, 272.1703796386719);
        }
    }
}