.FastFood {
    display: flex;
    flex-direction: column;
    * {
        transition: all 0.2s ease;
    }
    &:hover {
        cursor: pointer;
        .g-1 {
            transform: matrix(0.9999983906745911,0,0,0.9999983906745911,222.0001983642578,347);
        }

        .g-2 {
            transform: matrix(1.03000009059906,0,0,0.6899999380111694,254.87673950195312,500.0346374511719);
        }

        .g-3 {
            transform: matrix(0.8987941145896912,0.43837103247642517,-0.43837103247642517,0.8987941145896912,348.1259765625,114.35586547851562);
        }

        .g-4 {
            transform: matrix(0.8987941145896912,0.43837103247642517,-0.43837103247642517,0.8987941145896912,369.73565673828125,77.95825958251953);
        }

        .g-5 {
            transform: matrix(0.8987941145896912,0.43837103247642517,-0.43837103247642517,0.8987941145896912,509.4679870605469,143.74819946289062);
        }

        .g-6 {
            transform: matrix(0.8987941145896912,0.43837103247642517,-0.43837103247642517,0.8987941145896912,486.62322998046875,200.66281127929688);
        }

        .g-7 {
            transform: matrix(0.8987941145896912,0.43837103247642517,-0.43837103247642517,0.8987941145896912,431.57537841796875,138.31997680664062);
        }

        .g-8 {
            transform: matrix(0.8987941145896912,0.43837103247642517,-0.43837103247642517,0.8987941145896912,458.7839660644531,100.24055480957031);
        }

        .g-9 {
            transform: matrix(0.8987941145896912,0.43837103247642517,-0.43837103247642517,0.8987941145896912,503.91107177734375,76.22441864013672);
        }

        .g-10 {
            transform: matrix(0.8987941145896912,0.43837103247642517,-0.43837103247642517,0.8987941145896912,517.6076049804688,223.4185028076172);
        }

        .g-11 {
            transform: matrix(0.8987941145896912,0.43837103247642517,-0.43837103247642517,0.8987941145896912,505.395263671875,142.72752380371094);
        }

        .g-12 {
            transform: matrix(-0.37460780143737793,-0.9271833896636963,0.9271833896636963,-0.37460780143737793,322.3916015625,126.6268081665039);
        }

        .g-13 {
            transform: matrix(-0.8660253882408142,0.5,-0.5,-0.8660253882408142,346.92694091796875,366.8311462402344);
        }

        .g-14 {
            transform: matrix(0.8987941145896912,0.43837103247642517,-0.43837103247642517,0.8987941145896912,317.0532531738281,176.28509521484375);
        }
    }
}