.Healthy {
    display: flex;
    flex-direction: column;

    * {
        transition: all 0.2s ease;
    }

    &:hover {
        cursor: pointer;

        .g-1 {
            transform: matrix(1,0,0,1,222,347);
        }

        .g-2 {
            transform: matrix(0.8388487696647644,-0.043962202966213226,0.043962202966213226,0.8388487696647644,226.69839477539062,470.29937744140625);
        }

        .g-3 {
            transform: matrix(0.9396926164627075,-0.3420201539993286,0.3420201539993286,0.9396926164627075,113.31744384765625,290.13427734375);
        }

        .g-4 {
            transform: matrix(0.9396926164627075,-0.3420201539993286,0.3420201539993286,0.9396926164627075,334.03594970703125,214.10816955566406);
        }

        .g-5 {
            transform: matrix(0.9396926164627075,-0.3420201539993286,0.3420201539993286,0.9396926164627075,137.73277282714844,371.2783508300781);
        }

        .g-6 {
            transform: matrix(0.9396926164627075,-0.3420201539993286,0.3420201539993286,0.9396926164627075,261.621826171875,262.9561462402344);
        }

        .g-7 {
            transform: matrix(0.9396926164627075,-0.3420201539993286,0.3420201539993286,0.9396926164627075,285.89703369140625,230.8066864013672);
        }

        .g-8 {
            transform: matrix(0.7071068286895752,0.7071067690849304,-0.7071067690849304,0.7071068286895752,304.9245910644531,28.931827545166016);
        }

        .g-9 {
            transform: matrix(0.9396926164627075,-0.3420201539993286,0.3420201539993286,0.9396926164627075,145.2797393798828,296.2588806152344);
        }

        .g-10 {
            transform: matrix(0.9396926164627075,-0.3420201539993286,0.3420201539993286,0.9396926164627075,319.65399169921875,397.7213134765625);
        }

        .g-11 {
            transform: matrix(0.9396926164627075,-0.3420201539993286,0.3420201539993286,0.9396926164627075,233.48403930664062,320.20751953125);
        }

        .g-12 {
            transform: matrix(0.9396926164627075,-0.3420201539993286,0.3420201539993286,0.9396926164627075,284.9169616699219,400.7646179199219);
        }

        .g-13 {
            transform: matrix(0.9396926164627075,-0.3420201539993286,0.3420201539993286,0.9396926164627075,239.46133422851562,293.42498779296875);
        }

        .g-14 {
            transform: matrix(0.4226182699203491,0.9063078165054321,-0.9063078165054321,0.4226182699203491,535.2400512695312,29.664920806884766);
        }

        .g-15 {
            transform: matrix(0.9396926164627075,-0.3420201539993286,0.3420201539993286,0.9396926164627075,427.2881774902344,302.84979248046875);
        }

        .g-16 {
            transform: matrix(0.9396926164627075,-0.3420201539993286,0.3420201539993286,0.9396926164627075,366.95111083984375,211.933349609375);
        }

        .g-17 {
            transform: matrix(0.9396926164627075,-0.3420201539993286,0.3420201539993286,0.9396926164627075,362.214599609375,332.8271484375);
        }

        .g-18 {
            transform: matrix(0.7071067690849304,0.7071067690849304,-0.7071067690849304,0.7071067690849304,399.61859130859375,13.265990257263184);
        }

        .g-19 {
            transform: matrix(0.9902680516242981,0.13917310535907745,-0.13917310535907745,0.9902680516242981,222.99180603027344,297.2538757324219);
        }

        .g-20 {
            transform: matrix(0.9396926164627075,-0.3420201539993286,0.3420201539993286,0.9396926164627075,503.46600341796875,244.23558044433594);
        }

        .g-21 {
            transform: matrix(0.9396926164627075,-0.3420201539993286,0.3420201539993286,0.9396926164627075,435.49853515625,327.185302734375);
        }

        .g-22 {
            transform: matrix(0.9743700623512268,0.22495105862617493,-0.22495105862617493,0.9743700623512268,357.8597106933594,185.04815673828125);
        }

        .g-23 {
            transform: matrix(0.9396926164627075,-0.3420201539993286,0.3420201539993286,0.9396926164627075,447.2032775878906,271.9541931152344);
        }

        .g-24 {
            transform: matrix(0.9135454893112183,0.40673667192459106,-0.40673667192459106,0.9135454893112183,251.4047393798828,169.00009155273438);
        }

        .g-25 {
            transform: matrix(0.9396926164627075,-0.3420201539993286,0.3420201539993286,0.9396926164627075,319.8458251953125,316.3993835449219);
        }
    }
}