.Pizza {
    display: flex;
    flex-direction: column;

    * {
        transition: all 0.2s ease;
    }

    &:hover {
        cursor: pointer;

        .g-1 {
            transform: matrix(0.9999983310699463,0,0,0.9999983310699463,222.00021362304688,347);
        }

        .g-2 {
            transform: matrix(0.9094358086585999,0.48355603218078613,-0.582145094871521,1.094854712486267,299.1543884277344,241.10012817382812);
        }

        .g-3 {
            transform: matrix(0.9563027024269104,0.29237842559814453,-0.29237842559814453,0.9563027024269104,236.0972442626953,165.10369873046875);
        }

        .g-4 {
            transform: matrix(0.9335803985595703,0.3583679497241974,-0.3583679497241974,0.9335803985595703,222.9925994873047,397.77734375);
        }

        .g-5 {
            transform: matrix(-0.6018143892288208,-0.7986359596252441,0.7986359596252441,-0.6018143892288208,438.04913330078125,419.65740966796875);
        }

        .g-6 {
            transform: matrix(0.9781476259231567,0.2079116553068161,-0.2079116553068161,0.9781476259231567,176.12257385253906,253.62844848632812);
        }

        .g-7 {
            transform: matrix(0.9781476259231567,-0.2079116851091385,0.2079116851091385,0.9781476259231567,291.29443359375,251.26239013671875);
        }
    }
}