.Sandwiches {
    display: flex;
    flex-direction: column;

    * {
        transition: all 0.2s ease;
    }

    &:hover, &.active {
        cursor: pointer;

        span {
            color: var(--main-color);
        }

        .g-1 {
            transform: matrix(0.9999986886978149, 0, 0, 0.9999986886978149, 222.00015258789062, 347);
        }

        .g-2 {
            transform: matrix(0.9700047373771667, 0, 0, 0.6800000667572021, 219.77194213867188, 368.908203125);
        }

        .g-3 {
            transform: matrix(0.9612616896629333, -0.27563729882240295, 0.27563729882240295, 0.9612616896629333, 161.87057495117188, 372.67877197265625);
        }

        .g-4 {
            transform: matrix(0.9876883625984192, -0.15643443167209625, 0.15643443167209625, 0.9876883625984192, 201.90933227539062, 454.32586669921875);
        }

        .g-5 {
            transform: matrix(0.9510565400123596, -0.3090169429779053, 0.3090169429779053, 0.9510565400123596, 303.1859130859375, 430.80767822265625);
        }

        .g-6 {
            transform: matrix(0.9816271662712097, -0.1908089518547058, 0.1908089518547058, 0.9816271662712097, 359.10357666015625, 311.7029724121094);
        }

        .g-7 {
            transform: matrix(0.9205048680305481, -0.3907310664653778, 0.3907310664653778, 0.9205048680305481, 195.2516632080078, 397.2118225097656);
        }

        .g-8 {
            transform: matrix(0.891006588935852, 0.4539904296398163, -0.4539904296398163, 0.891006588935852, 148.8873291015625, 246.4989776611328);
        }

        .g-9 {
            transform: matrix(0.01745271123945713, -0.9998477101325989, 0.9998477101325989, 0.01745271123945713, 421.256591796875, 348.7909851074219);
        }

        .g-10 {
            transform: matrix(0.7986356019973755, -0.6018149256706238, 0.6018149256706238, 0.7986356019973755, 54.36799621582031, 295.6217346191406);
        }

        .g-11 {
            transform: matrix(0.7986356019973755, -0.6018149256706238, 0.6018149256706238, 0.7986356019973755, 162.11041259765625, 223.09930419921875);
        }

        .g-12 {
            transform: matrix(0.7986356019973755, -0.6018149256706238, 0.6018149256706238, 0.7986356019973755, 172.2193603515625, 246.1452178955078);
        }

        .g-13 {
            transform: matrix(-0.07671859860420227, -0.997052788734436, 0.997052788734436, -0.07671859860420227, 307.93011474609375, 215.3629150390625);
        }
    }
}