.Vegan {
    display: flex;
    flex-direction: column;

    * {
        transition: all 0.2s ease;
    }

    &:hover, &.active {
        cursor: pointer;

        span {
            color: var(--main-color);
        }

        .g-1 {
            transform: matrix(1,0,0,1,222,347);
        }

        .g-2 {
            transform: matrix(0.7600000500679016,0,0,0.7600000500679016,250.53135681152344,547.4207153320312);
        }

        .g-3 {
            transform: matrix(0.8660255074501038,-0.4999998211860657,0.4999998211860657,0.8660255074501038,326.6549072265625,355.2301025390625);
        }

        .g-4 {
            transform: matrix(0.681998610496521,-0.7313534617424011,0.7313534617424011,0.681998610496521,123.27906036376953,210.59417724609375);
        }

        .g-5 {
            transform: matrix(0.8660255074501038,-0.4999998211860657,0.4999998211860657,0.8660255074501038,350.37054443359375,347.5908203125);
        }

        .g-6 {
            transform: matrix(0.5446393489837646,-0.8386703729629517,0.8386703729629517,0.5446393489837646,151.7921142578125,445.7460632324219);
        }
    }
}