@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.App {
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	--main-color: #FF003D;
	--pink-color: #EF0A6A;
	--red-color: #FF003D;
	--red-dark-color: #D5002B;
	--black-color: #191919;
	--white-color: #FFFFFF;
	--gray-color: #666666;
	scroll-behavior: smooth;

}

div {
	box-sizing: border-box;
}

button {
	background-color: #FF003D;
	color: #FFFFFF;
	border-radius: 20px;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 16px;
	padding: 5px 15px;
	transition: all 0.2s ease-in-out;
}

button:hover {
	background-color: #D5002B;
}

button.disabled {
	opacity: 0.3;
	filter: grayscale(100%);
	cursor: not-allowed;
}

a {
	text-decoration: none;
	color: var(--main-color);
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	display: flex;
	align-items: center;
	transition: all 0.2s ease-in-out;
}

a:hover {
	color: var(--red-dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'TT Norms-Bold', sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 3.5rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2.5rem;
}

h4 {
	font-size: 2rem;
	margin: 1rem 0;
}

h5 {
	font-size: 1.5rem;
	margin: 1rem 0;
}

img {
	image-rendering: crisp-edges;
}

span {
	font-family: 'TT Norms', sans-serif;
	font-weight: 400;
	color: var(--black-color);
}

.anticon {
	vertical-align: 0;
}



@font-face {
	font-family: 'TT Norms-Bold';
	src: url('../font/TTNorms/TTNorms-Bold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TT Norms-Medium';
	src: url('../font/TTNorms/TTNorms-Medium.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TT Norms';
	src: url('../font/TTNorms/TTNorms-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}