@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.cart_item_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 0;
    border-top: #C8C8C8 1px solid;

    .cart_item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .cart_item_left_section {
            display: flex;
            align-items: center;
            gap: 10px;

            input[type="checkbox"] {
                width: 15px;
                height: 15px;
                cursor: pointer;
            }

            .cart_item_image {
                width: 100px;
                height: 100px;
                border-radius: 10px;
                object-fit: cover;
            }

            .item_info {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                width: 140px;

                .item_name {
                    font-size: 23px;
                    word-break: keep-all;
                    word-wrap: break-word;
                }

                .item_price {
                    font-size: 16px;
                }
            }
        }

        .cart_item_right_section {
            display: flex;
            justify-content: space-between;
            gap: 15px;

            .item_quantity {
                height: 34px;
                width: 80px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
                border-radius: 30px;
                margin-right: 2px;

                .quantity {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40%;

                    .quantity_content {
                        font-size: 20px;
                    }
                }

                .minus,
                .plus {
                    &.disabled {
                        cursor: not-allowed;
                        background-color: #f5f5f7;

                        &:active {
                            background-color: #f5f5f7;

                            i {
                                color: #5C5C5C;
                            }
                        }
                    }
                }

                .minus {
                    height: 100%;
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    background-color: #f5f5f7;
                    border-radius: 30px 0px 0px 30px;

                    i {
                        color: #5C5C5C;
                    }
                }

                .minus:active {
                    background-color: #FF003D;

                    i {
                        color: white;
                    }
                }

                .plus {
                    height: 100%;
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #f5f5f7;
                    border-radius: 0px 30px 30px 0px;
                    cursor: pointer;

                    i {
                        color: #5C5C5C;
                    }
                }

                .plus:active {
                    background-color: #FF003D;

                    i {
                        color: white;
                    }
                }
            }

            .delete_button {
                cursor: pointer;
                font-size: 21px;
                color: #FF003D;
            }
        }

    }

    .underline {
        width: 100%;
        height: 1px;
        background-color: #C8C8C8;
    }
}