@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

        .menu_table_container{
            position: relative;
            width: 80%;
            height: 95vh;
            
            
            margin-left: 10%;
            .menu_table_title{
                width: 99%;
                height: 47px;
                margin-left: 1%;
                margin-top: 1.5%;
                margin-bottom: 2%;
                
            }
            .menu_table{
                position: absolute;
                width: 99%;
                min-width: 800px;
                height: auto;
                margin-left: 0.5%;
                box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
               
            }
            .delete_button{
                width: 110px;
                height: 40px;
                position: absolute;
                right: -10%;
                top: 8.75%;
                z-index: 2;
                background-color: #F61D58;
                
            }

            .add_button{
                width: 50px;
                height: 50px;
                position:absolute;
                top: 10.75%;
                left: -7%;
                border-radius: 50%;
                z-index: 2;
                background-color: #F61D58;
            }

            .edit_button_form{
                width: 100%;
                height: 4vh;
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                font-weight: 500;
                border-radius: 5px;
                background-color: #867CFF;
            }
            .edit_button_form:hover{
                filter: brightness(85%);
            }
            .edit_button_form:active{
                scale: (0.8);
    
            }
            .delete_button_form{
                width: 100%;
                height: 4vh;
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                font-weight: 500;
                border-radius: 5px;
                background-color: #ff5771;
            }
            .delete_button_form:hover{
                filter: brightness(85%);
            }
            .delete_button_form:active{
                scale: (0.8);
            }
            
        }
        
        
       
    
