.location-update {
    .autocomplete-item {
        font-family: "Poppins", sans-serif;
    }
}

.ant-modal-content {
    .search-bar-wrapper {
        box-shadow: none;
        border: 1px solid #C8C8C8;
    }
}