@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.login_container {
  width: 100%;
  height: 100vh;
  background-color: #f5f5f7;
  .header_login{
    height: 8vh;
    min-height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f7;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    z-index: 9;
    .logo_img{
      height: 50%;
      min-height: 100px;
      width: 15%;
      min-width: 150px;
      object-fit: contain;
      position: relative;
      left: 42%;
      
    }
  }
  

  .login_animation {
    width: 65%;
    height: 92vh;
    overflow-x: hidden;
    overflow-x: scroll;

    .highway {
      height: 20vh;
      width: 700%;
      display: block;
      background-image: url("../image/road.jpg");
      background-repeat: repeat-x;
      background-size: contain;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      animation: highway 5s linear infinite;
      overflow-x: scroll;
    }
    .city {
      height: 72vh;
      width: 500%;
      background-image: url("../image/city.jpg");
      background-size: contain;
      position: absolute;
      bottom: 20vh;
      left: 0;
      right: 0;
      display: block;
      z-index: 1;
      background-repeat: repeat-x;
      animation: city 20s linear infinite;
      overflow-x: scroll;
    }
    .deliverydriver {
      height: 270px;
      position: absolute;
      bottom: 50px;
      left: 350px;
      z-index: 2;
      animation: drive 5s linear infinite;
    }
  }
  .login_form {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    height: 92vh;
    min-height: 600px;
    min-width: 430px;
    background-color: rgba($color: #f5f5f7, $alpha: 1);
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .login_form_container {
      width: 90%;
      height: 55%;
      //470px
      min-height: 440px;
      position: relative;
      margin-top: 8%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      input {
        width: 70%;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 15px;
        margin: 10px 0;
        padding: 0 10px;
        font-size: 18px;
        font-family: "Poppins", sans-serif;
        &:focus {
          border: 2px solid #ff003d;
          outline: #ff003d;
        }
      }

      .login_button {
        margin-top: 40px;
        width: 200px;
        height: 40px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
      }

      .forgot_password {
        position: relative;
        width: 200px;
        height: 20px;
        top: -7%;
        left: 33%;
        h6 {
          cursor: pointer;
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          font-size: 13px;
        }
        h6:hover {
          color: #ff003d;
        }
      }
      .signup_link {
        width: 300px;
        height: 20px;
        position: relative;
        margin-top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        h5 {
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          font-size: 15px;
        }
        h4 {
          cursor: pointer;
          color: #ff003d;
          font-family: "Poppins", sans-serif;
          font-weight: 700;
          font-size: 15px;
        }

        h4:hover {
          filter: brightness(75%);
        }
      }
    }
    .or_underline::before {
      content: "";
      width: 31%;
      height: 1px;
      background-color: #ccc;
      position: absolute;
      margin-top: 1%;
      right: 12%;
    }

    .or_underline {
      margin-top: 5%;
      font-family: "Popins", sans-serif;
      font-size: 17px;
      font-weight: 500;
    }

    .or_underline::after {
      content: "";
      width: 31%;
      height: 1px;
      background-color: #ccc;
      position: absolute;
      margin-top: 1%;
      left: 12%;
    }
    .login_with_google {
      margin-top: 4%;
      width: 90%;
      border-radius: 15px;

      .login_with_google_button {
        width: 100%;
        height: 50px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        background-color: #fff;
        color: #1d1d1f;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        .google_logo {
          width: 37px;
          height: 37px;
        }
      }
      
    }
    .login_with_google:hover{
      filter: brightness(95%);
      
    }
    .login_with_google:active{
      scale: 0.98;
      
    }
    .login_with_facebook {
      width: 90%;
      margin-top: 5%;
      .login_with_facebook_button {
        width: 100%;
        height: 50px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        background-color: #fff;
        color: #1d1d1f;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        .facebook_logo {
          width: 30px;
          height: 30px;
        }
      }
      
    }
    .login_with_facebook:hover{
      filter: brightness(95%);
      
    }
    .login_with_facebook:active{
      scale: 0.98;
      
    }
  }

  @keyframes highway {
    100% {
      transform: translateX(-3400px);
    }
  }

  @keyframes city {
    100% {
      transform: translateX(-1600px);
    }
  }
  @keyframes drive{
    0%{
        transform: translateX(50px);
        transform: translateY(20px);
    }
    10%{
        transform: translateX(100px);
        transform: translateY(40px);
        left:250px
    }
    20%{
        transform: translateX(150px);
        transform: translateY(40px);
        left:300px
    }
    30%{
        transform: translateX(200px);
        transform: translateY(50px);
        left:350px;
    }
    40%{
        transform: translateX(250px);
        transform: translateY(50px);
        left:400px;
    }
    50%{
        transform: translateX(500px);
        transform: translateY(30px);
        left: 350px;
    }
    60%{
        transform: translateX(700px);
        transform: translateY(-30px);
       
    }
    70%{
        transform: translateX(-150px);
        transform: translateY(-30px);
        
    }
    80%{
        transform: translateX(-80px);
        transform: translateY(-40px);
        
    }
    90%{
        transform: translateX(20px);
        transform: translateY(20px);
    
    }
    100%{
        transform: translateX(100px);
        transform: translateY(20px);  
        
    }
  
}
}
::-webkit-scrollbar {
    display: none;
  }