.OrderDetail {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    .order-info {
        margin-bottom: 10px;

        .order-info-row {
            width: 100%;
            display: flex;

            .order-info-header {
                width: 30%;
                font-size: 15px;
                font-weight: 500;
                color: #000000;

                h6 {}
            }

            .order-info-content {
                width: 70%;
                font-size: 15px;
            }
        }

    }

    .order-detail-item {
        display: flex;
        align-items: center;

        img {
            width: 50%;
            height: 50%;
            margin-right: 20px;
            object-fit: cover;
        }

        h6 {}
    }

    .order-total {
        margin-top: 20px;
        .order-total-row {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .order-total-header {
                font-size: 15px;
                font-weight: 500;
                color: #000000;
            }

            .order-total-content {
                font-size: 15px;
                font-weight: 500;
                color: #000000;
            }
        }
    }
}