.Restaurants {
    max-width: 1280px;
    margin: 80px auto;

    .filter {
        margin: 30px 0;
        display: flex;
        gap: 10px;

        button,
        span {
            font-family: 'Popins', sans-serif;
            font-weight: 600;
        }

        $button-bg-color: rgb(231, 231, 231);

        [aria-pressed="true"] {
            background-color: var(--main-color);
            color: white;

            span {
                color: white;
            }
        }

        [aria-pressed="false"] {
            background-color: $button-bg-color;
            color: var(--black-color);

            &:hover {
                background-color: rgb(246, 246, 246);
            }
        }

        button {
            display: flex;
            align-items: center;
            padding-top: 8px;
            padding-bottom: 8px;
        }

        .fa-star {
            font-size: 0.7rem;
            margin-left: 5px;
        }

        .filter-btn-dropdown {
            margin-left: 5px;
            border-left: 1px solid rgb(214, 214, 214);
            ;
            padding-left: 5px;
        }
    }

    .restaurants-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}