@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.restaurant_detail {
  width: 100%;
  background-color: #EFEFEF;
  padding-top: 74px;

  .hero_container {
    width: 100%;
    padding: 20px 0 0;
    background-color: #fff;
    display: inline-block;

    .hero {
      position: relative;
      width: 70%;
      margin: 0 auto;
      font-family: "Poppins", sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;


      .shop_nav {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;

        .home_nav {
          cursor: pointer;
        }

        .shops_nav {
          cursor: pointer;
        }

        .home_nav::after {
          content: ">";
          margin-left: 5px;
          margin-right: 5px;
          color: #464547;
        }

        .shops_nav::after {
          content: ">";
          margin-left: 5px;
          margin-right: 5px;
          color: #464547;
        }
      }

      .packet {
        width: 100%;
        margin: 15px 0;
        position: relative;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;

        .restaurant_avatar_wrapper {
          width: 80%;

          .restaurant_avatar {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 30px;
          }
        }

        .restaurant_info {
          margin-left: 7%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;

          .shop_certification {
            padding: 5px 15px;
            background-color: #ffe4e4;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 25px;
            color: #ff003d;
            margin-bottom: 0px;
            margin-left: -5px;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-size: 17px;

            i {
              stroke-width: 5px;
              font-size: 22px;
            }
          }

          .opening_certification {
            padding: 10px 15px;
            background-color: #e0f6e5;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 25px;
            color: #30c04f;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-size: 14px;
            margin-left: -8px;
            margin-top: 5px;

            .fa-solid .fa-bullhorn {
              font-size: 17px;
            }
          }

          .closed_certification {
            padding: 10px 15px;
            background-color: #ffe4e4;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 25px;
            color: #ff0000;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-size: 14px;
            margin-left: -8px;
            margin-top: 5px;

            .fa-solid .fa-shop-lock {
              font-size: 17px;
            }
          }

          .restaurant_name {
            font-size: 40px;
            color: #1d1d1f;
            margin-top: 10px;
            margin-bottom: 0;
          }

          .restaurant_description {
            font-family: "Poppins", sans-serif;
            font-size: 20px;
            color: #1d1d1f;
            font-weight: 500;
            margin-bottom: 5px;
          }

          .restaurant_basic_info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            width: 400px;
            height: 40px;
            margin-top: 0px;

            h4 {
              font-size: 16px;
              color: #4d4d4d;
            }

            .rating {
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              align-items: flex-start;

              .bi-star-fill {
                color: #f1c522;
              }
            }

            .distance {
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              align-items: flex-start;
            }

            .working_hours {
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              align-items: flex-start;
            }

            .working_days {
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              align-items: flex-start;
            }
          }

          .phone_address {
            width: 450px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            color: #4d4d4d;
            margin-top: 5px;
            gap: 5px;

            h5 {
              font-size: 16px;
              margin: 0;
              width: 70px;
            }

            .phone_number {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              font-size: 16px;

              p {
                font-family: "Poppins", sans-serif;
                font-weight: 400;
              }
            }

            .address {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              font-size: 16px;

              i {
                margin-top: 2px;
              }

              p {
                margin: 0;
                font-family: "Poppins", sans-serif;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }

  .product_category_wrapper {
    position: sticky;
    top: 74px;
    width: 100%;
    background-color: white;
    z-index: 998;
    .product_category {
      width: 70%;
      margin: 0 auto;

      * {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
      }
    }
  }

  .menu_container {
    margin-top: 30px;
    width: 70%;
    margin: 30px auto 0;

    .best_seller {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .title {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
      }

      .items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    .menu_section {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .title {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
      }

      .items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

    }

    .drinks {
      margin-top: 40px;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .title {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
      }

      .items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

    }
  }
}