@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.main_container{
        width: 30%;
        height: 100vh;
        min-width: 430px;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-left: 2px solid #C8C8C8;
        border: 1px dashed green;
        position: relative;
        .close_button{
            position: absolute;
           font-size: 35px;
           top: 2%;
           left: 2%;
        }
        .close_button:hover{
            color:#ff003d ;
            cursor: pointer;
         }
        .cart_detail{
            width: 80%;
            height: 30%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            margin-left: 10%;
            .cart_detail_header{
                width: 100%;
                height: 150px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-end;
                .cart_detail_text{
                    width: 100%;
                    height: 120px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-end;
                    h3{
                        font-size: 18px;
                        font-family: "Poppins", sans-serif;
                        font-weight: 400;

                    }
                    h1{
                        margin-top: -10px;
                        font-size: 28px;
                        font-family: "Poppins", sans-serif;
                        font-weight: 700;
                    }

                }
                i{
                    font-size: 25px;
                    margin-top: -30px;
                    transform: scaleX(-1);
                }
                h2{
                    position: absolute;
                    top: 10%;
                    left: 66%;
                    font-size: 22px;
                    font-family: "Popins", sans-serif;
                    font-weight: 600;
                }
            }
            .cart_detail_summary{
                width: 100%;
                height: 110px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                padding-bottom: 10px;
                border-top: 1px solid #C8C8C8;
                border-bottom: 1px solid #C8C8C8;
                margin-bottom: 5%;

                .checkout_button{
                    width: 100%;
                    height: 40px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-family: "Poppins", sans-serif;
                    font-size: 20px;
                    font-weight: 600;
                }
            }
        }

        .cart_item_list{
            width: 100%;
            height: 70%;
            margin-top: 5%;
            overflow: scroll;
            overflow-x: hidden;
            
        }
        ::-webkit-scrollbar{
            display: none;
        }
}