@import url("https://cdn.syncfusion.com/ej2/material.css");

.user_account_div {
  font-size: 17px;
  .sidebar {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    z-index: 6 !important;
  }

  .user_nav{
    position: fixed;
    left: 0%;
    z-index: 9;
   
    
    
  }

  .nav-item {
    z-index: 7 !important;


  }

  .e-dlg-center-center,
  .e-quick-popup-wrapper.e-device {
    z-index: 1000 !important;
  }

        .edit_button{
            width: 7%;
            position: relative;
            top: 8%;
            left: 34%;
            background-color: #1d1d1f;
            color: #f5f5f7;
            border-radius: 10px;
            font-family: "Poppins", sans-serif;
            font-size: 15px;
            font-weight: 500;
        }
        .change_password_button{
            width: 15%;
            position: relative;
            top: 8%;
            left: 28%;
            background-color: #1d1d1f;
            color: #f5f5f7;
            border-radius: 10px;
            font-family: "Poppins", sans-serif;
            font-size: 15px;
            font-weight: 500;
        }
  ::-webkit-scrollbar {
    width: 6px !important;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216) !important;
    border-radius: 40px !important;
  }

        .save_button{
            width: 7%;
            background-color: #FF003D;
            color: #f5f5f7;
            border-radius: 10px;
            font-family: "Poppins", sans-serif;
            font-size: 15px;
            font-weight: 500;
            margin-left: 2%;
            margin-right: 1%;
  ::-webkit-scrollbar-track {
    background-color: transparent !important;
  }

  /* color-picker style  */

        .cancel_button{
            width: 9%;
            background-color: #1d1d1f;
            color: #f5f5f7;
            border-radius: 10px;
            font-family: "Poppins", sans-serif;
            font-size: 15px;
            font-weight: 500;
            margin-left: 1%;
        }
  #preview {
    background: transparent url("https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png") no-repeat !important;
    display: inline-block !important;
    height: 80px !important;
    margin: 10px 0 !important;
    min-width: 300px !important;
    max-width: 600px !important;
    background-color: #008000 !important;
  }

  .e-input-group:not(.e-float-icon-left),
  .e-input-group.e-success:not(.e-float-icon-left),
  .e-input-group.e-warning:not(.e-float-icon-left),
  .e-input-group.e-error:not(.e-float-icon-left),
  .e-input-group.e-control-wrapper:not(.e-float-icon-left),
  .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
  .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
  .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
    border: none !important;
  }
}
}